

<div>
      <label for="recipe_ingredient_attributes_1_name">INGREDIENT NAME</label>
      <input placeholder="name" type="text" name="recipe[ingredient_attributes][][name]" id="recipe_ingredient_attributes_1_name"><br>
      <label for="recipe_ingredient_attributes_1_allergen_warning">ALLERGEN WARNING?</label>
      <input name="recipe[ingredient_attributes][][allergen_warning]" type="hidden" value="0"><input type="checkbox" value="1" name="recipe[ingredient_attributes][][allergen_warning]" id="recipe_ingredient_attributes_1_allergen_warning"><br>
      <label for="recipe_ingredient_attributes_1_spice_level">SPICE LEVEL</label>
      <select name="recipe[ingredient_attributes][][spice_level]" id="recipe_ingredient_attributes_1_spice_level"><option value=""></option>
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option></select><br>
      <label for="recipe_ingredient_attributes_1_ingredient_type">TYPE</label>
      <select name="recipe[ingredient_attributes][][ingredient_type]" id="recipe_ingredient_attributes_1_ingredient_type"><option value=""></option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option></select><br>
      <label for="recipe_ingredient_attributes_1_measurement">MEASUREMENT</label>
      <input placeholder="measurement" type="text" name="recipe[ingredient_attributes][][measurement]" id="recipe_ingredient_attributes_1_measurement"><br>
  <br>
</div>
