<h1>this page will have form for recipe that accepts x amount of ingredients and blends (will find or create them). this is the only place ingredients and blends are created, but they can be edited from their individual show pages.</h1>

<%= render 'form' %>
