<h2><%= @ingredient.name.upcase %></h2>
<br></br>
<p><strong>ALLERGEN WARNING?:</strong> <%= @ingredient.allergen_warning %></p>
<p><strong>SPICE LEVEL:</strong> <%= @ingredient.spice_level %></p>
<p><strong>TYPE:</strong> <%= @ingredient.ingredient_type %></p>
