

body {
    background: url('/assets/Fall-herbs-and-spices.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    opacity: 0.90:
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    line-height: 18px;
  }

  .header {
    background-color: rgba(23, 29, 34, 0.70);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);

    text-align: center;
    margin: 16px auto;
    max-width: 1020px;
    padding: 1.0%; /* 18px / 800px */
    width: 87.5%;
  }

  .header h1 {
    color: rgba(252, 193, 0, 0.95);
    font-size: 375%;
    font-style: italic;
  }

  .wrapper {
    background: #f1f1f1;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    color: #4f3639;
    opacity: 0.90;
    margin: 16px auto;
    max-width: 1020px;
    padding: 1.75%; /* 18px / 800px */
    width: 87.5%;
    border: 2px #171d22
  }

  .wrapper h2 {
    color: #C11B17;
  }
