

body {
    background: url('/assets/Fall-herbs-and-spices.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    opacity: 0.90:
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    line-height: 18px;
  }

  .not-signed-in-header {
    background-color: rgba(20, 20, 20, 0.75);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    text-align: center;
    margin: -100px auto;
    max-width: 1020px;
    padding: 3.5%; /* 18px / 800px */
    width: 87.5%;
  }

  h1 {
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    background-color: rgba(12, 12, 12, 1);
    color: rgba(195, 0, 0, 1);
    font-size: 300%;
    margin: 100px auto;
    text-decoration: underline overline;
    text-align: center;
    position: inline-block;
    padding: 1.0%;
    max-width: 1020px;
  }

  .registration1 {
    background-color: rgba(20, 20, 20, 0.85);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    color: rgba(225, 225, 225, 0.95);
    text-align: center;
    font-size: 100%;
    margin: 10px auto;
    max-width: 1020px;
    padding: 1.0%; /* 18px / 800px */
    width: auto;
    display: inline-block;
    border: 2px solid rgba(195, 0, 0, 1);
    text-decoration: none;
  }

  .registration1:hover {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.95);
    opacity: 0.55;
  }

  .registration1:focus {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.95);
  }

  .thumb {
    height: 130px;
    width: 100px;
  }

  .profile {
    height: 200px;
    width: 175px;
  }

  .not-signed-in-header h2 {
    color: rgba(195, 0, 0, 1);
    font-weight: bold;
    text-align: center;
  }

  .new_user {
    color: rgba(225, 225, 225, 0.95);
    padding: 2%;
    width: 50px center;
    font-weight: bold;
    text-align: center;
  }

  .signed-in-header {
    background-color: rgba(23, 29, 34, 1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    text-align: center;
    color: white;
    margin: auto auto;
    max-width: 1020px;
    width: 90%;
    display: block;
  }

  .header-link {
    background-color: rgba(23, 29, 34, 0.85);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    color: rgba(225, 225, 225, 0.95);
    text-align: center;
    font-size: 75%;
    margin: 7px auto;
    max-width: 1020px;
    padding: 0.75%; /* 18px / 800px */
    width: auto;
    display: inline-block;
    border: 2px solid rgba(195, 0, 0, 1);
    text-decoration: none;
  }

  .header-link:hover {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.95);
    opacity: 0.55;
  }

  .header-link:focus {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.95);
  }

  .nav-link {
    background-color: rgba(20, 20, 20, 0.85);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    color: rgba(225, 225, 225, 0.95);
    font-size: 85%;
    text-align: center;
    margin: 3px auto;
    max-width: 1020px;
    padding: 0.5%; /* 18px / 800px */
    width: auto;
    display: inline-block;
    text-decoration: none;
  }

  .nav-link:hover {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.95);
    opacity: 0.55;
  }

  .nav-link:focus {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.95);
  }


  .signed-in {
    background: rgba(241, 241, 241, 0.925);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    color: #4f3639;
    margin: auto auto;
    max-width: 1020px;
    padding: 1.75%; /* 18px / 800px */
    width: 90%;
    border: 2px rgba(195, 0, 0, 0.90);
    position: inline-block;
  }

  #flash_alert {
    color: rgba(195, 0, 0, 1);
    font-size: 110%;
    font-weight: bold;
    font-style: italic;
  }

  .signed-in h2 {
    color: rgba(195, 0, 0, 1);
 }

 .hidden {
   display: none;
 }

 #click {
   text-decoration: none;
 }

 .i-hide {
   display: none;
 }

 a {
   text-decoration: none;
   color: rgba(20, 20, 20, 0.85);
 }

 a:hover {
   text-decoration: none;
   color: rgba(195, 0, 0, 1);
   opacity: .55;
 }

 a:focus {
   text-decoration: none;
   color: rgba(20, 20, 20, 0.85);
 }

 #like-this-recipe {
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
   box-shadow: 0 0 10px rgba(0,0,0,0.15);
   color: rgba(195, 0, 0, 1);
   font-size: 85%;
   text-align: center;
   margin: 3px auto;
   max-width: 60px;
   padding: 0.5%; /* 18px / 800px */
   width: auto;
   display: inline-block;
   text-decoration: none;
   border: 1px solid black;
 }

 #recipe-is-liked {
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
   box-shadow: 0 0 10px rgba(0,0,0,0.15);
   font-size: 85%;
   text-align: center;
   margin: 3px auto;
   max-width: 60px;
   padding: 0.5%; /* 18px / 800px */
   width: auto;
   display: inline-block;
   text-decoration: none;
   border: 1px solid #00BCE1;
   background-color: #00BCE1;
   color: white;
 }
